header {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    align-items: center;
}

.address {
    cursor: pointer;
}

.address:active {
    opacity: 0.3;
}

.address img {
    width: 16px;
    height: 16px;
}

.address span {
    font-weight: 500;
    font-size: 17px;
    margin-right: 4px;
}

.menu img {
    width: 30px;
    height: 30px;
}

