@import 'reset.css';
@import 'header.css';

body {
    margin: 0;
    background-color: #f1f1f1;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.Home {
    padding: 15px;
}

.main__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.main__title-text {
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
}

.main__title-edit-icon {
    width: 40px;
    height: 40px;
}

.turntable {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 40px;
    border-bottom: 1px solid #dcdcdc;
}

.category {
    padding-top: 20px;
}

.cageory__title-text {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.cageory__title-text h2 {
    font-size: 18px;
}

.cageory__title-text h3 {
    opacity: 0.7;
    font-size: 15px;
}

.category__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category__button {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0px 10px;
    background-color: white;
    color: #3c3c3c;
    font-weight: bold;
    opacity: 0.8;
    border: none;
    width: 105px;
    height: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

.category__button:focus {
    background: #ff7375;
    font-weight: 600;
    outline: 0;
}

.category__button-icon {
    width: 30px;
    height: 26px;
}

.kakaoMap {
    width: 500px;
    height: 300px;
    position: fixed;
}

.header__restaurantList {
    background-color: #ffffff !important;
}

.header__restaurantList-detail {
    padding-top: 320px;
}

.restaurant__list {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #dcdcdc;
    cursor: pointer;
}

.restaurant__list-text {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.restaurant__list-text h1 {
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    padding-bottom: 3px;
}

.restaurant__list-text h2 {
    font-size: 14px;
    color: #8c8c8c;
}

.restaurant__list-detail {
    display: flex;
    align-items: center;
    padding-bottom: 3px;
}

.restaurant__list-detail img {
    width: 12px;
    height: 11px;
    margin-right: 3px;
}

.restaurant__list-detail h1 {
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    color: #ff7375;
}

.restaurant__list-img {
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.restaurant__list-img img {
    width: 72px;
    height: 72px;
    border-radius: 8px;
}

a {
    color: #fff;
    text-decoration: none;
    outline: none;
}

a:hover,
a:active {
    text-decoration: none;
    color: #fff;
    background-color: #f59000;
}

.floating_button__wrapper {
    display: flex;
    justify-content: center;
}

.roulette_button {
    position: fixed;
    cursor: pointer;
}

.modal__title {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.modal__title h1 {
    font-weight: bold;
    font-size: 22px;
}

.modal__title img {
    width: 30px;
    height: 26px;
    margin-right: 4px;
}

.modal__body {
    display: flex;
    justify-content: center;
    margin-top: 14px;
}
